@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.tasks {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.drop-zone {
  height: 80%;
}

@mixin tasks-dark-theme($theme, $theme-type) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $primary-color: $primary-white;

  @if $theme-type == 'dark-theme' {
    $primary-color: $primary-dark;
  }

  .tasks {
      //background: $primary-color;
  }
}
