@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.toolbar {
  display: flex;
  margin: 10px 0 20px 0;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;


    mat-form-field {
      padding: 25px 40px 0 40px;
    }

    button:first-child {
      margin: 0 20px 0 0;
    }
    button:last-child {
      margin: 0 0 0 20px;
    }
  }
}

.padding-if-undefined {
  justify-content: space-between;
  padding: 30px;
}


@mixin toolbar-dark-theme($theme, $theme-type) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $white-gray-color: $white;

  @if $theme-type == 'dark-theme' {
    $white-gray-color: $accent-dark;
  }

  .toolbar {
    &__container {
      background: $white-gray-color;
    }
  }
}
