@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.projects {
  min-height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  background: $primary-white;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__tasks-container {
    padding: 0 10px;
    margin: 10px;
    background: white;
    flex: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    //TODO
    //height: 100%;
  }
}
