@import "../../../../assets/variables/colors";
@import "../../../../../node_modules/@angular/material/theming";

.task {
  //width: 685px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: move;

  &__select {
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid $primary-white;

  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 1;
    h3 {
      margin: 15px 0 0 0;
    }

    p {
      margin: 7px 0 0 0;
      font-size: 14px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      cursor: pointer;
    }

    &--colors {
      position: relative;
      width: 20px;
      height: 20px;
    }
  }

}

.selected {
  background: $primary-white;
}

.markers {
  position: relative;
}

.add-color {
  position: absolute;
  top: 0;
  right: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@mixin task-dark-theme($theme, $theme-type) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $primary-color: $primary-header;
  $accent-color: $accent-white;
  $accent-color-opacity: $accent-white-opacity;
  $white-gray-color: $white;
  $white-dark-color: $white;
  $dark-text-color: $primary-dark;

  @if $theme-type == 'dark-theme' {
    $primary-color: $accent-dark;
    $accent-color: $primary-dark;
    $accent-color-opacity: $accent-dark-opacity;
    $white-gray-color: $accent-dark;
    $white-dark-color: $primary-dark;
    $dark-text-color: $white;
  }

  .task {
    background: $primary-color;

    &__description {
      h3 {
        color: $dark-text-color
      }

      p {
        color: $dark-text-color
      }
    }
  }

  .no-color {
    background: $accent-color;
  }

  .task-selected {
    background: $white-gray-color;
  }

  .add-color {
    color: $white;
  }
}
