<section class="task" *ngIf="!isDroped" [ngClass]="{'task-selected': !task.selected}" cdkDrag (cdkDragDropped)="isDroped = true" >
  <div class="task__select" [ngClass]="{'selected': task.selected}" (click)="select()">
  </div>
  <div class="task__description">
    <h3>Name: {{task.name}}</h3>
    <p>Description: {{task.description}}</p>
  </div>
  <div class="task__info">
    <div class="task__info--container" >
      <div class="task__info--colors" *ngFor="let color of task.markers"
           [ngStyle]="{'background': '#' + color.color}" (click)="isOpen = !isOpen"></div>
      <div class="task__info--colors no-color" *ngIf="task.markers.length === 0" (click)="isOpen = !isOpen">
        <div class="add-color">+</div>
      </div>
      <app-markers [isOpen]="isOpen" [markers]="markers" [taskId]="task.id" class="markers"></app-markers>
    </div>

    <button mat-button color="accent">More..</button>
  </div>
</section>
