// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "assets/theming/white";
@import "assets/theming/dark";

@import "app/auth/components/login/login.component";
@import "app/shared/components/theme/theme.component";
@import "app/shared/components/header/header.component";
@import "app/home/components/home/home.component";
@import "app/tasks/components/toolbar/toolbar.component";
@import "app/tasks/components/tasks/tasks.component";
@import "app/tasks/components/task/task.component";
@import "app/tasks/components/projects/projects.component";
@import "app/tasks/components/markers/markers.component";
// Plus imports for other components in your app.

$general-typography: mat-typography-config(
$font-family: '"Montserrat", sans-serif'
);


@mixin color-theme-components($theme, $theme-type) {
  @include login-dark-theme($theme, $theme-type);
  @include theme-dark($theme, $theme-type);
  @include home-dark-theme($theme, $theme-type);
  @include header-dark-theme($theme, $theme-type);
  @include toolbar-dark-theme($theme, $theme-type);
  @include tasks-dark-theme($theme, $theme-type);
  @include task-dark-theme($theme, $theme-type);
  @include projects-dark-theme($theme, $theme-type);
  @include markers-dark-theme($theme, $theme-type);
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-client-primary: mat-palette($blue);
$todo-client-accent: mat-palette($light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$todo-client-theme: mat-light-theme($todo-client-primary, $todo-client-accent, $todo-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.light-theme {
  @include angular-material-theme($todo-client-theme);
  @include color-theme-components($todo-client-theme, 'light-theme');
}

$dark-primary: mat-palette($black);
$dark-accent: mat-palette($gray, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include color-theme-components($dark-theme, 'dark-theme');
}

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
